body {
  background-color: #f1f1f1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  height: 30px;
  margin-bottom: 15px;
}

.header1 {
  border-top: 4px inherit;
  border-color: #1d1c1b;
  background-color: grey;
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header1 .fa-map-marker-alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  position: relative;
  top: 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  height: 30px;
  margin-bottom: 15px;
}

.header .fas {
  position: absolute;
  left: 40px;
}

.top {
  margin-top: 30px;
}

.top img {
  width: 100%;
}

.menu {
  background-color: #f1f1f1;
  position: relative;
  width: 100%;
  height: 5rem;
  margin-top: -70px;
  border-radius: 50px 50px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu i {
  margin-top: 15px;
  margin-left: 80px;
}

.menu h4 {
  font-size: 20px;
}

.topic {
  border-bottom: 2px solid green;
  width: 150px;
  font-size: 30px;
}

.section1 {
  opacity: 0;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  background-color: #ffff;
  width: 425px;
  height: 80px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0.01px;
  margin-bottom: 20px;
  -webkit-animation: pop-out 2s linear forwards;
          animation: pop-out 2s linear forwards;
}

.section1 .fa-check-circle {
  position: absolute;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 70px;
  height: 80px;
  border-radius: 0px 25px 25px 0px;
  right: 0%;
}

.section1 :hover {
  -webkit-animation: slide 2s linear forwards;
          animation: slide 2s linear forwards;
}

.section1 .price {
  font-weight: 800;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  bottom: 50px;
  left: -50px;
}

.section1 h4 {
  position: relative;
  left: 20px;
  font-size: 20px;
}

.section1 p {
  position: relative;
  left: 20px;
  bottom: 10px;
}

.section1 :hover {
  -webkit-animation: slide 2s  linear forwards;
          animation: slide 2s  linear forwards;
}

@-webkit-keyframes pop-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pop-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes check {
  0% {
    width: 80%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    width: 60%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    width: 10%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes check {
  0% {
    width: 80%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    width: 60%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    width: 10%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes slide {
  0% {
    background-color: #99e2d0;
    width: 5%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    background-color: #99e2d0;
    width: 15%;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    background-color: #99e2d0;
    width: 20%;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}

@keyframes slide {
  0% {
    background-color: #99e2d0;
    width: 5%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    background-color: #99e2d0;
    width: 15%;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    background-color: #99e2d0;
    width: 20%;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}

.section2 {
  background-color: #ffff;
  width: 425px;
  height: 80px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0.01px;
  margin-bottom: 20px;
  -webkit-animation: pop-out 2s linear forwards;
          animation: pop-out 2s linear forwards;
  opacity: 0;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.section2 :hover {
  -webkit-animation: slide 2s linear forwards;
          animation: slide 2s linear forwards;
}

.section2 .price {
  font-weight: 800;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  bottom: 50px;
  left: -50px;
}

.section2 h4 {
  position: relative;
  left: 20px;
  font-size: 20px;
}

.section2 p {
  position: relative;
  left: 20px;
  bottom: 10px;
}

.section2 :hover {
  -webkit-animation: slide 2s  linear forwards;
          animation: slide 2s  linear forwards;
}

@keyframes pop-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes check {
  0% {
    width: 80%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    width: 60%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    width: 10%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes slide {
  0% {
    background-color: #99e2d0;
    width: 5%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    background-color: #99e2d0;
    width: 15%;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    background-color: #99e2d0;
    width: 20%;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}

.section3 {
  background-color: #ffff;
  width: 425px;
  height: 80px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0.01px;
  margin-bottom: 20px;
  -webkit-animation: pop-out 2s linear forwards;
          animation: pop-out 2s linear forwards;
  opacity: 0;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.section3 :hover {
  -webkit-animation: slide 2s linear forwards;
          animation: slide 2s linear forwards;
}

.section3 .price {
  font-weight: 800;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  bottom: 50px;
  left: -50px;
}

.section3 h4 {
  position: relative;
  left: 20px;
  font-size: 20px;
}

.section3 p {
  position: relative;
  left: 20px;
  bottom: 10px;
}

.section3 :hover {
  -webkit-animation: slide 2s  linear forwards;
          animation: slide 2s  linear forwards;
}

@keyframes pop-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes check {
  0% {
    width: 80%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    width: 60%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    width: 10%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes slide {
  0% {
    background-color: #99e2d0;
    width: 5%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    background-color: #99e2d0;
    width: 15%;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    background-color: #99e2d0;
    width: 20%;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}

.section4 {
  background-color: #ffff;
  width: 425px;
  height: 80px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0.01px;
  margin-bottom: 20px;
  -webkit-animation: pop-out 2s linear forwards;
          animation: pop-out 2s linear forwards;
  opacity: 0;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.section4 :hover {
  -webkit-animation: slide 2s linear forwards;
          animation: slide 2s linear forwards;
}

.section4 .price {
  font-weight: 800;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  bottom: 50px;
  left: -50px;
}

.section4 h4 {
  position: relative;
  left: 20px;
  font-size: 20px;
}

.section4 p {
  position: relative;
  left: 20px;
  bottom: 10px;
}

.section4 :hover {
  -webkit-animation: slide 2s  linear forwards;
          animation: slide 2s  linear forwards;
}

@keyframes pop-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes check {
  0% {
    width: 80%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    width: 60%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    width: 10%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes slide {
  0% {
    background-color: #99e2d0;
    width: 5%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    background-color: #99e2d0;
    width: 15%;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    background-color: #99e2d0;
    width: 20%;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}

.button {
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 220px;
  height: 60px;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  border: #9356dc;
  font-size: 20px;
  -webkit-box-shadow: inset 0 6px 5px -3px;
          box-shadow: inset 0 6px 5px -3px;
  cursor: pointer;
  overflow: hidden;
  padding: 1.85rem 3rem;
  position: relative;
  -webkit-transition: -webkit-transform 450ms;
  transition: -webkit-transform 450ms;
  transition: transform 450ms;
  transition: transform 450ms, -webkit-transform 450ms;
}

.button:hover {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
  background-color: #c96aae;
}
/*# sourceMappingURL=menu.css.map */