.body{
    
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    
}

$purple:#9356dc ;
$pink:#ff79da;
$mint:#99e2d0;
$grey:#f1f1f1;

@keyframes bar {
    from{
        transform: scale(2);
    }
    to{
        transform: scale(1);
    }
}

@mixin Restauran {
    border-radius: 20px 20px;
    padding-bottom: 1px;
    width:92% ;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: transform 450ms;
    animation: bar 2s ease forwards;
            &:hover {
            transform: scale(1.13);
            }
            .far.fa-hover-hidden {
                color: gray;
                position: relative;
                left: 80%;
                bottom: 40px;
                  
              }
              .fas.fa-hover-show {
                color:  $pink;
                position: relative;
                left: 80%;
                bottom: 40px;
                
              }
              
              * > .fas.fa-hover-show,
              *:hover > .far.fa-hover-hidden {
                  display: none;
              }
              
              *:hover > .fas.fa-hover-show {
                  display: block;
              }
    img{
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 00px 00px;   
    }

    margin-bottom: 30px;
    line-height: 5px;
    box-shadow: 5px 5px 5px rgb(155, 152, 152);
    .imgtext{
        margin-left: 20px;
    }
}
    
@mixin  section {
    width: 96%;
    height: 70px;
    background-color:#f1f1f1
    ;
    border-radius: 20px;
    position: relative;
    left: 10px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    .fa-mobile-alt{
        position: relative;
        right: 20px;
    }
    .fa-list-ul{
        position: relative;
        right: 20px;
        
    }
    .fa-store{
        position: relative;
        right: 20px;
       
    
       
    
        
    }
    .circle{
        width: 35px;
        height: 35px;
        background-color: $purple;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 120px;
        p{
            color: white;
        }
    }
    box-shadow: 5px 5px 5px rgb(172, 170, 170);
    margin-bottom: 20px;   
    transition: transform 1200ms;
            &:hover {
            transform: scale(1.1);
            color: $purple;
            h4{
                color: black;
            }
            background-color:#e2d1f8
            
               
        }
        
       
        
        
}

@mixin Footer {   
    background-color:rgb(41, 38, 38);
    width: 100%;
    height: 200px;
    line-height: 2px;
  p{
      margin-left: 20px; 
      color: white;
       
  }
  i{
    margin-left: 20px;
      color:white 
      
      
  }
  display: flex;
  flex-direction: column;
  .sub{
    display:flex;
	justify-content: flex-start;
    align-items: center;
    
      
      
      
  }
  .log{
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
  } 
}



h2{
    padding: 20px;
}


.header {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    height: 30px;
    margin-bottom: 15px;
}

.header1 {
    border-top: 2px solid  rgb(189, 189, 189);
    
    
    
    background-color:rgb(212, 212, 212);
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-map-marker-alt {
        display: flex;
        justify-content: center;
        width: 50px;
        height: 50px;
        position: relative;
        top: 15px;

    }
    
    
}

.header2 {
    background-color:$grey;
    height: 250px;
    margin-top: -10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    .button {
        width: 250px;
        height: 70px;
        color: white;
        background-image: linear-gradient(#ff79da, #9356dc);
        border-radius: 30px;
        border: $purple;
        font-size: 15px;
        box-shadow: inset 0 6px 5px -3px rgb;
        cursor: pointer;
    overflow: hidden;
    padding: 1.85rem 3rem;
    position: relative;
    transition: transform 450ms;
            &:hover {
            transform: scale(1.13);
            background-color: #c02e97
            
            
        }
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}

.works{
    @include section;
    
}

.first{
    @include Restauran
}

.new{
    width: 55px;
    height: 25px;
    background-color: aquamarine;
    position: absolute;
    left: 300px;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: large;
    
}

.Restaurants{
    margin-top: 80px;
    width: 100%;
    height: 1500px;
    background-color: $grey;
    
    
    
}

.footer{
    @include Footer;
}